<div class="container mx-auto mt-10 p-10 bg-gray-100">
  <h1 class="text-xl font-bold pt-4 pb-4">New Todos</h1>
  <form class="bg-white p-10 rounded-lg" name="todoForm" ng-submit="$ctrl.handleSubmit()">
    <fieldset>
      <label class="text-base font-bold block" for="task">Task:</label>
      <input
        class="placeholder:text-gray-400 block bg-white w-full border border-gray-300 rounded-md p-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
        id="task" type="text" placeholder="Todo..." ng-class="{
        'border-error-500': todoForm.task.$invalid
      }" />

      <span class="text-red-500" ng-if="todoForm.task.$error.required"> El campos es requerido </span>
      <span class="text-red-500" ng-if="todoForm.task.$error.maxlength">
        El campo no debe superar los .. carácteres
      </span>
    </fieldset>

    <fieldset>
      <label class="text-base font-bold block pt-4" for="priority">Priority:</label>
      <input
        class="placeholder:text-gray-400 block bg-white w-full border border-gray-300 rounded-md p-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
        id="priority" type="text" placeholder="Select priority" />
    </fieldset>

    <fieldset>
      <label class="text-base font-bold block pt-4" for="description">Description:</label>
      <textarea
        class="placeholder:text-gray-400 block bg-white w-full border border-gray-300 rounded-md p-2 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
        id="description" rows="3" placeholder="Write with a task to be done"></textarea>
    </fieldset>

    <div class="grid grid-cols-2 gap-4 pt-10">
      <button class="text-rose-500 rounded-lg bg-white border p-2 border-rose-500">Cancel</button>
      <button class="text-white rounded-lg p-2 bg-rose-500" type="submit">Save</button>
    </div>
  </form>
</div>