<li class="list-none">
  <div class="flex flex justify-between items-center">
    <div>
      <input class="checked:bg-blue-500" type="checkbox" id="complete" (change)="onChange()">
      <label for="complete" class="pl-1"> Estudiar Principios SOLID Aplicados en CodelyTv</label>
      <span class="text-xs text-rose-500 font-bold bg-rose-100 ml-2 rounded-md px-2 border border-rose-500">High</span>
    </div>
    <div>
      <button class="text-rose-500 font-bold rounded-lg p-2 bg-white">X</button>
    </div>
  </div>
</li>